{% extends "base.html" %}
{% block title %}MOVIES{% endblock title %}
{% block content %}
    <p class="p-2">Hola, te presentamos una lista de las peliculas disponibles</p>
    <ul class="list-group">
        {% for movie in movies %}
            <li class="list-group-item text-secondary">
                <a href="{% url 'movie' movie.id %}">{{ movie.title | capfirst }}</a>
                <p>{{ movie.get_year_display }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
